
body {
  background-color: rgb(78, 140, 140);
}

ul {
  
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0;
}

ul li {
  margin: 30px;
  font-size: 25px;
  
}

li :hover {
  background-color: rgb(127, 127, 159);
  transition: 1s;
}

a {
  text-decoration: none;
}