



*{
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 240, 240);
  margin: 0;
  padding: 0;
}

.navu {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navu-links ul {
  display: flex;
  padding: 0;
  margin: 0;
  
}

.navu-links li {
  list-style: none;
}

.navu-links li a {
  display: block;
  text-decoration: none;
  padding: 20px;  
}

.navu-links li:hover {
  background-color: rgb(184, 178, 171);
}

.menu {
  color: white;
  
}

@media (max-width: 800px) {
 .menu {
    display: flex;
  } 

  .navu-links {
    display: none;
  }
}


.saynup {
  position: absolute;
  right: 100px;
}



.saynin {
  position: absolute;
  right: 5px;
}